<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">
    <!-- Module Properties -->
    <id>${project.parent.artifactId}</id>
    <name>${project.parent.name}</name>
    <version>${project.parent.version}</version>
    <package>${project.parent.groupId}.${project.parent.artifactId}</package>
    <author>Bob Jolliffe et al.</author>
    <description>
        ${project.parent.description}
    </description>
    <updateURL>https://modules.openmrs.org/modules/download/${project.parent.artifactId}/update.rdf</updateURL>
    <require_version>${openMRSVersion}</require_version>
    <!-- / Module Properties -->

	
    <!-- Module Activator -->
    <activator>${project.parent.groupId}.${project.parent.artifactId}.DHIS2ReportingActivator</activator>
	
	
    <!-- Adds link to admin page -->
    <extension>
        <point>org.openmrs.admin.list</point>
        <class>${project.parent.groupId}.${project.parent.artifactId}.extension.html.AdminList</class>
    </extension>
    <extension>
		<point>org.openmrs.gutter.tools</point>
		<class>${project.parent.groupId}.${project.parent.artifactId}.extension.html.DhisReportHeader</class>
	</extension>

	<filter>
		<filter-name>DhisReport Web Service Authorization</filter-name>
		<filter-class>org.openmrs.module.dhisreport.web.filter.AuthorizationFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>DhisReport Web Service Authorization</filter-name>
		<url-pattern>/ws/dhisreport/*</url-pattern>
	</filter-mapping>
    <!-- Maps hibernate file's, if present -->
    <mappingFiles>
        ReportDefinition.hbm.xml
        DataElement.hbm.xml
        Disaggregation.hbm.xml
        DataValueTemplate.hbm.xml
    </mappingFiles>
	
	<privilege>
		<name>View Dhisreport</name>
		<description>Allows user to view Dhisreport</description>
	</privilege>
	<privilege>
		<name>Manage Dhisreport</name>
		<description>Allows user to manage Dhisreport</description>
	</privilege>
	
	
	<globalProperty>
		<property>${project.parent.artifactId}.dhis2URL </property>
		<defaultValue>http://httpbin.org/post</defaultValue>
		<description>
			DHIS2 URL where the report has to be sent. 
		</description>
	</globalProperty>
	<globalProperty>
		<property>${project.parent.artifactId}.dhis2UserName</property>
		<defaultValue>dhis2 username</defaultValue>
		<description>
			The Username of the DHIS Server 
		</description>
	</globalProperty>
	<globalProperty>
		<property>${project.parent.artifactId}.dhis2Password</property>
		<defaultValue></defaultValue>
		<description>
			The Password of the DHIS Server 
		</description>
	</globalProperty>
		
	<globalProperty>
		<property>${project.parent.artifactId}.dhis2SyncDate</property>
		<defaultValue></defaultValue>
		<description>
			The last sync date of reports.
		</description>
	</globalProperty>
	<globalProperty>
		<property>${project.parent.artifactId}.SchedulerURL</property>
		<defaultValue></defaultValue>
		<description>
			URL of the page where we post reports (e.g. http://localhost:8081/openmrs18/module/dhisreport/executeReport.form )
		</description>
	</globalProperty>
		
	
    <!-- Internationalization -->
    <!-- All message codes should start with ${project.parent.artifactId}. -->
    <messages>
        <lang>en</lang>
        <file>messages.properties</file>
    </messages>
    <messages>
        <lang>fr</lang>
        <file>messages_fr.properties</file>
    </messages>
    <messages>
        <lang>es</lang>
        <file>messages_es.properties</file>
    </messages>
    <!-- /Internationalization -->

</module>


