/*
    Document   : dhisreport
    Created on : 29-Sep-2012, 21:16:24
    Author     : bobj
    Description:
        Common style elements for dhisreport module
*/

th {
  text-align: left;
}
